#jumbotron
{
	height: 900px;
    width: 96%;
    display: block;
    padding: 2%;
    background-image: url('../images/bckgrnd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body 
{
    margin: 0;
}

nav 
{
	position: fixed;
	width: 100%;
	z-index: 1;
    background-color: rgb(204, 139, 0);
}

.navbtn-nodropdown 
{
    vertical-align: middle;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: "Fira Sans";
    width: 100px;
    padding: 1%;
    border-radius: 5px;
    display: inline-block;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

#navbtn-img
{
    margin-top: 0;
    margin-left: 1%;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    vertical-align: middle;
    max-width: 5%;
    width: 5%;
}

#jumbotron-img 
{
    max-width: 20%;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    display: block;
}

.navbtn-nodropdown:hover
{
    background: white;
    color: rgb(204, 139, 0);
}

#jumbotron h1 
{
    font-family: "Fira Sans";
    font-size: 400%;
    text-align: center;
    color: white;
}

#homebtn 
{
	width: 100px;
	margin-right: 40%;
}

#jumbotron h2
{
    font-family: "Fira Sans";
    font-size: 200%;
    text-align: center;
    color: white;
    font-weight: lighter;
}

.jumpdown-btn 
{
    text-decoration: none;
    text-align: center;
    font-size: 300%;
    color: white;
    display: block;
}

section
{
    padding: 1%;
    width: 98%;
    display: block;
}

#section1
{
    background: rgb(51, 51, 51);
}

#section1 p 
{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    color: white;
    font-family: "Fira Sans";
    font-weight: lighter;
}

hr
{
	width: 98%;
	border: 1px solid rgb(70, 70, 71);
}

footer
{
	background: rgb(70, 70, 71);
	padding: 1%;
	width: 98%;
	display: block;
}

footer p
{
	text-align: center;
	color: white;
	font-family: "Fira Sans";
	font-weight: lighter;
}