#jumbotron
{
    width: 96%;
    display: block;
    padding: 2%;
}

body 
{
    margin: 0;
   background-image: url('../images/bckgrnd.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

nav 
{
    background-color: rgb(10, 145, 104);
    padding: 1%;
}

.navbtn-nodropdown 
{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: "Fira Sans";
    width: 10%;
    padding: 1%;
    display: inline-block;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

#jumbotron-img 
{
    max-width: 20%;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    display: block;
}

.navbtn-nodropdown:hover
{
    background: white;
    color: rgb(10, 145, 104);
}

@font-face 
{
    font-family: "Fira Sans";
    src: url('../fonts/FiraSans-Regular.ttf') format('truetype'), url('../fonts/FiraSans-Regular.eot'), url('../fonts/FiraSans.svg') format('svg'), url('../fonts/FiraSans.woff') format('woff');
}

#jumbotron h1 
{
    font-family: "Fira Sans";
    font-size: 400%;
    text-align: center;
    color: white;
}

#jumbotron h2 
{
    font-family: "Fira Sans";
    font-size: 200%;
    text-align: center;
    color: white;
}

section 
{
    margin-top: 20%;
    background: rgb(51, 51, 51);
    padding: 1%;
    width: 98%;
    display: block;
}